:root {
  --el-color-primary: #615da4 !important;
  --el-color-primary-light-3: #6c68b8 !important;
  --el-color-primary-light-5: #7873cc !important;
  --el-color-primary-light-7: #827ddd !important;
  --el-color-primary-light-8: #8c86ee !important;
  --el-color-primary-light-9: #9690ff !important;
}

html {
  font-family: "微軟正黑體", Consolas, "Courier New", monospace;
}

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-size: 50% 100%; */
  background-position: right bottom;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translate-half {
  transform: translate(-50%, -50%);
}

.-translate-x-half {
  transform: translateX(-50%);
}

.-translate-y-half {
  transform: translateY(-50%);
}

.translate-x-half {
  transform: translateX(50%);
}

.translate-y-half {
  transform: translateY(50%);
}
